project:
  type: website

website:
  title: "My Website"
  description: "A blog built with Quarto"
  site-url: https://herreio.github.io/minimal-quarto/ # you must change this appropriately for RSS feeds to work properly
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
